# Learn Python

# Series

In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
obj=Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [5]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [6]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [13]:
ww2_cas= Series ([87,43,30,21,4],index=['USSR', 'Germany', 'China', 'Japan','USA'])

In [14]:
ww2_cas

USSR       87
Germany    43
China      30
Japan      21
USA         4
dtype: int64

In [12]:
ww2_cas['USSR']

87

In [16]:
ww2_cas[ww2_cas >4]

USSR       87
Germany    43
China      30
Japan      21
dtype: int64

In [18]:
'USSR' in ww2_cas

True

In [19]:
ww2_dict=ww2_cas.to_dict()

In [20]:
ww2_dict

{'China': 30, 'Germany': 43, 'Japan': 21, 'USA': 4, 'USSR': 87}

In [21]:
ww2_series=Series(ww2_dict)

In [22]:
ww2_series

China      30
Germany    43
Japan      21
USA         4
USSR       87
dtype: int64

In [28]:
countries=['USSR', 'Germany', 'China', 'Japan','USA','Argentina']

In [29]:
obj2=Series(ww2_dict,index=countries)

In [30]:
obj2

USSR         87
Germany      43
China        30
Japan        21
USA           4
Argentina   NaN
dtype: float64

In [31]:
pd.isnull(obj2)

USSR         False
Germany      False
China        False
Japan        False
USA          False
Argentina     True
dtype: bool

In [32]:
pd.notnull(obj2)

USSR          True
Germany       True
China         True
Japan         True
USA           True
Argentina    False
dtype: bool

In [33]:
ww2_series+obj2

Argentina    NaN
China         60
Germany       86
Japan         42
USA            8
USSR         174
dtype: float64

In [38]:
obj2.name= 'World War Casualities'

In [40]:
obj2

World War Casualities
USSR         87
Germany      43
China        30
Japan        21
USA           4
Argentina   NaN
Name: World War Casualities, dtype: float64

In [41]:
obj2.index.name='Countries'

In [42]:
obj2

Countries
USSR         87
Germany      43
China        30
Japan        21
USA           4
Argentina   NaN
Name: World War Casualities, dtype: float64

# DataFrame

In [7]:
import webbrowser
website='https://en.wikipedia.org/wiki/NFL_win%E2%80%93loss_records'
webbrowser.open(website)

True

In [6]:
nfl_frame = pd.read_clipboard()
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North
7,8,Minnesota Vikings,449,379,10,0.542,1961,838,NFC North
8,9,New York Giants,673,567,33,0.542,1925,"1,273",NFC East
9,10,Denver Broncos,456,386,10,0.541,1960,852,AFC West
10,11,Indianapolis Colts,494,433,7,0.533,1953,934,AFC South
11,12,Oakland Raiders,444,397,11,0.528,1960,852,AFC West
12,13,Pittsburgh Steelers,590,530,20,0.526,1933,"1,140",AFC North
13,14,Kansas City Chiefs,435,405,12,0.518,1960,852,AFC West
14,15,Washington Redskins,578,565,27,0.506,1932,"1,170",NFC East
15,16,Cleveland Browns,461,451,10,0.505,1950,922,AFC North
16,17,Seattle Seahawks,315,313,0,0.502,1976,628,NFC West
17,18,San Diego Chargers,421,420,11,0.501,1960,852,AFC West
18,19,Los Angeles Rams,540,542,21,0.499,1937,"1,103",NFC West
19,20,Carolina Panthers,166,169,1,0.496,1995,336,NFC South
20,21,Philadelphia Eagles,548,582,26,0.485,1933,"1,156",NFC East
21,22,Tennessee Titans,404,442,6,0.478,1960,852,AFC South
22,23,Buffalo Bills,393,451,8,0.466,1960,852,AFC East
23,24,New York Jets,387,457,8,0.459,1960,852,AFC East
24,25,Detroit Lions,535,634,32,0.459,1930,"1,201",NFC North
25,26,Cincinnati Bengals,338,399,3,0.459,1968,740,AFC North
26,27,Jacksonville Jaguars,152,184,0,0.452,1995,336,AFC South
27,28,New Orleans Saints,331,418,5,0.442,1967,754,NFC South
28,29,Atlanta Falcons,330,432,6,0.434,1966,768,NFC South
29,30,Houston Texans,97,127,0,0.433,2002,224,AFC South
30,31,Arizona Cardinals,535,724,39,0.427,1920,"1,298",NFC West
31,32,Tampa Bay Buccaneers,241,386,1,0.385,1976,628,NFC South

In [8]:
nfl_frame.Team

0            Chicago Bears
1           Dallas Cowboys
2        Green Bay Packers
3           Miami Dolphins
4     New England Patriots
5      San Francisco 49ers
6         Baltimore Ravens
7        Minnesota Vikings
8          New York Giants
9           Denver Broncos
10      Indianapolis Colts
11         Oakland Raiders
12     Pittsburgh Steelers
13      Kansas City Chiefs
14     Washington Redskins
15        Cleveland Browns
16        Seattle Seahawks
17      San Diego Chargers
18        Los Angeles Rams
19       Carolina Panthers
20     Philadelphia Eagles
21        Tennessee Titans
22           Buffalo Bills
23           New York Jets
24           Detroit Lions
25      Cincinnati Bengals
26    Jacksonville Jaguars
27      New Orleans Saints
28         Atlanta Falcons
29          Houston Texans
30       Arizona Cardinals
31    Tampa Bay Buccaneers
Name: Team, dtype: object

In [13]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Total Games', u'Division'],
      dtype='object')

In [15]:
nfl_frame['First NFL Season']

0     1920
1     1960
2     1921
3     1966
4     1960
5     1950
6     1996
7     1961
8     1925
9     1960
10    1953
11    1960
12    1933
13    1960
14    1932
15    1950
16    1976
17    1960
18    1937
19    1995
20    1933
21    1960
22    1960
23    1960
24    1930
25    1968
26    1995
27    1967
28    1966
29    2002
30    1920
31    1976
Name: First NFL Season, dtype: int64

In [17]:
DataFrame(nfl_frame, columns=['Team','First NFL Season','Total Games'])

                    Team  First NFL Season Total Games
0          Chicago Bears              1920       1,338
1         Dallas Cowboys              1960         850
2      Green Bay Packers              1921       1,304
3         Miami Dolphins              1966         768
4   New England Patriots              1960         852
5    San Francisco 49ers              1950         970
6       Baltimore Ravens              1996         320
7      Minnesota Vikings              1961         838
8        New York Giants              1925       1,273
9         Denver Broncos              1960         852
10    Indianapolis Colts              1953         934
11       Oakland Raiders              1960         852
12   Pittsburgh Steelers              1933       1,140
13    Kansas City Chiefs              1960         852
14   Washington Redskins              1932       1,170
15      Cleveland Browns              1950         922
16      Seattle Seahawks              1976         628
17    San Diego Chargers              1960         852
18      Los Angeles Rams              1937       1,103
19     Carolina Panthers              1995         336
20   Philadelphia Eagles              1933       1,156
21      Tennessee Titans              1960         852
22         Buffalo Bills              1960         852
23         New York Jets              1960         852
24         Detroit Lions              1930       1,201
25    Cincinnati Bengals              1968         740
26  Jacksonville Jaguars              1995         336
27    New Orleans Saints              1967         754
28       Atlanta Falcons              1966         768
29        Houston Texans              2002         224
30     Arizona Cardinals              1920       1,298
31  Tampa Bay Buccaneers              1976         628

In [18]:
DataFrame(nfl_frame, columns=['Team','First NFL Season','Total Games','Stadium'])

                    Team  First NFL Season Total Games  Stadium
0          Chicago Bears              1920       1,338      NaN
1         Dallas Cowboys              1960         850      NaN
2      Green Bay Packers              1921       1,304      NaN
3         Miami Dolphins              1966         768      NaN
4   New England Patriots              1960         852      NaN
5    San Francisco 49ers              1950         970      NaN
6       Baltimore Ravens              1996         320      NaN
7      Minnesota Vikings              1961         838      NaN
8        New York Giants              1925       1,273      NaN
9         Denver Broncos              1960         852      NaN
10    Indianapolis Colts              1953         934      NaN
11       Oakland Raiders              1960         852      NaN
12   Pittsburgh Steelers              1933       1,140      NaN
13    Kansas City Chiefs              1960         852      NaN
14   Washington Redskins              1932       1,170      NaN
15      Cleveland Browns              1950         922      NaN
16      Seattle Seahawks              1976         628      NaN
17    San Diego Chargers              1960         852      NaN
18      Los Angeles Rams              1937       1,103      NaN
19     Carolina Panthers              1995         336      NaN
20   Philadelphia Eagles              1933       1,156      NaN
21      Tennessee Titans              1960         852      NaN
22         Buffalo Bills              1960         852      NaN
23         New York Jets              1960         852      NaN
24         Detroit Lions              1930       1,201      NaN
25    Cincinnati Bengals              1968         740      NaN
26  Jacksonville Jaguars              1995         336      NaN
27    New Orleans Saints              1967         754      NaN
28       Atlanta Falcons              1966         768      NaN
29        Houston Texans              2002         224      NaN
30     Arizona Cardinals              1920       1,298      NaN
31  Tampa Bay Buccaneers              1976         628      NaN

In [19]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [20]:
nfl_frame.head(10)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North
7,8,Minnesota Vikings,449,379,10,0.542,1961,838,NFC North
8,9,New York Giants,673,567,33,0.542,1925,"1,273",NFC East
9,10,Denver Broncos,456,386,10,0.541,1960,852,AFC West

In [21]:
nfl_frame.tail(6)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
26,27,Jacksonville Jaguars,152,184,0,0.452,1995,336,AFC South
27,28,New Orleans Saints,331,418,5,0.442,1967,754,NFC South
28,29,Atlanta Falcons,330,432,6,0.434,1966,768,NFC South
29,30,Houston Texans,97,127,0,0.433,2002,224,AFC South
30,31,Arizona Cardinals,535,724,39,0.427,1920,"1,298",NFC West
31,32,Tampa Bay Buccaneers,241,386,1,0.385,1976,628,NFC South

In [25]:
nfl_frame.ix[3]

Rank                             4
Team                Miami Dolphins
Won                            429
Lost                           335
Tied                             4
Pct.                         0.561
First NFL Season              1966
Total Games                    768
Division                  AFC East
Name: 3, dtype: object

In [28]:
nfl_frame['Stadium']="Levi's Stadium"

In [29]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,Levi's Stadium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,Levi's Stadium
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,Levi's Stadium
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,Levi's Stadium
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levi's Stadium

In [32]:
nfl_frame['Stadium']=np.arange(32)
nfl_frame.head(10)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,0
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,1
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,2
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,3
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,4
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,5
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North,6
7,8,Minnesota Vikings,449,379,10,0.542,1961,838,NFC North,7
8,9,New York Giants,673,567,33,0.542,1925,"1,273",NFC East,8
9,10,Denver Broncos,456,386,10,0.541,1960,852,AFC West,9

In [36]:
stadium= Series(['ATT','Levis'], index=[5,0])

In [37]:
nfl_frame['Stadium']=stadium
nfl_frame.head(10)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,Levis
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,NaN
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,NaN
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,NaN
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,NaN
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,ATT
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North,NaN
7,8,Minnesota Vikings,449,379,10,0.542,1961,838,NFC North,NaN
8,9,New York Giants,673,567,33,0.542,1925,"1,273",NFC East,NaN
9,10,Denver Broncos,456,386,10,0.541,1960,852,AFC West,NaN

In [39]:
del nfl_frame['Stadium']
nfl_frame.head(10)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West
6,7,Baltimore Ravens,173,146,1,0.542,1996,320,AFC North
7,8,Minnesota Vikings,449,379,10,0.542,1961,838,NFC North
8,9,New York Giants,673,567,33,0.542,1925,"1,273",NFC East
9,10,Denver Broncos,456,386,10,0.541,1960,852,AFC West

In [41]:
data = {'City':['SFO','LA','NYC'],'Population':[837,3888,9000]}
data

{'City': ['SFO', 'LA', 'NYC'], 'Population': [837, 3888, 9000]}

In [43]:
city_frame=DataFrame(data)
city_frame

  City  Population
0  SFO         837
1   LA        3888
2  NYC        9000

# Index Objects

In [51]:
my_series=Series([7,19,12,10],index=['A','B','C','D'])
my_series

A     7
B    19
C    12
D    10
dtype: int64

In [54]:
my_index=my_series.index
my_index

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [61]:
my_index[1]

'B'

In [62]:
my_index[2:]

Index([u'C', u'D'], dtype='object')

In [64]:
my_index[0]='Z'

TypeError: Index does not support mutable operations

In [11]:
from googlefinance import getQuotes
import json
print json.dumps(getQuotes('AAPL'), indent=2)

[
  {
    "Index": "NASDAQ",
    "LastTradeWithCurrency": "95.89",
    "LastTradeDateTime": "2016-07-01T16:00:01Z",
    "LastTradePrice": "95.89",
    "LastTradeTime": "4:00PM EDT",
    "LastTradeDateTimeLong": "Jul 1, 4:00PM EDT",
    "StockSymbol": "AAPL",
    "ID": "22144"
  }
]

In [12]:
from yahoo_finance import Share
yahoo = Share('YHOO')
print yahoo.get_open()
print yahoo.get_price()
print yahoo.get_trade_datetime()

37.56
37.99
2016-07-01 20:00:00 UTC+0000

In [16]:
from pprint import pprint
pprint (yahoo.get_historical('2016-06-01', '2016-07-01'))

[{u'Adj_Close': u'37.990002',
  u'Close': u'37.990002',
  u'Date': u'2016-07-01',
  u'High': u'38.080002',
  u'Low': u'37.43',
  u'Open': u'37.560001',
  u'Symbol': u'YHOO',
  u'Volume': u'10596700'},
 {u'Adj_Close': u'37.560001',
  u'Close': u'37.560001',
  u'Date': u'2016-06-30',
  u'High': u'37.580002',
  u'Low': u'36.889999',
  u'Open': u'36.889999',
  u'Symbol': u'YHOO',
  u'Volume': u'15055400'},
 {u'Adj_Close': u'36.860001',
  u'Close': u'36.860001',
  u'Date': u'2016-06-29',
  u'High': u'37.080002',
  u'Low': u'36.25',
  u'Open': u'36.25',
  u'Symbol': u'YHOO',
  u'Volume': u'10800200'},
 {u'Adj_Close': u'36.040001',
  u'Close': u'36.040001',
  u'Date': u'2016-06-28',
  u'High': u'36.139999',
  u'Low': u'35.50',
  u'Open': u'35.580002',
  u'Symbol': u'YHOO',
  u'Volume': u'10864900'},
 {u'Adj_Close': u'35.220001',
  u'Close': u'35.220001',
  u'Date': u'2016-06-27',
  u'High': u'36.009998',
  u'Low': u'35.049999',
  u'Open': u'35.869999',
  u'Symbol': u'YHOO',
  u'Volume': u'14108600'},
 {u'Adj_Close': u'36.240002',
  u'Close': u'36.240002',
  u'Date': u'2016-06-24',
  u'High': u'36.950001',
  u'Low': u'36.09',
  u'Open': u'36.400002',
  u'Symbol': u'YHOO',
  u'Volume': u'19353000'},
 {u'Adj_Close': u'37.779999',
  u'Close': u'37.779999',
  u'Date': u'2016-06-23',
  u'High': u'37.779999',
  u'Low': u'37.41',
  u'Open': u'37.639999',
  u'Symbol': u'YHOO',
  u'Volume': u'7092700'},
 {u'Adj_Close': u'37.360001',
  u'Close': u'37.360001',
  u'Date': u'2016-06-22',
  u'High': u'37.52',
  u'Low': u'37.169998',
  u'Open': u'37.369999',
  u'Symbol': u'YHOO',
  u'Volume': u'5857000'},
 {u'Adj_Close': u'37.400002',
  u'Close': u'37.400002',
  u'Date': u'2016-06-21',
  u'High': u'37.549999',
  u'Low': u'37.200001',
  u'Open': u'37.369999',
  u'Symbol': u'YHOO',
  u'Volume': u'5571200'},
 {u'Adj_Close': u'37.290001',
  u'Close': u'37.290001',
  u'Date': u'2016-06-20',
  u'High': u'37.68',
  u'Low': u'37.240002',
  u'Open': u'37.27',
  u'Symbol': u'YHOO',
  u'Volume': u'8930400'},
 {u'Adj_Close': u'36.939999',
  u'Close': u'36.939999',
  u'Date': u'2016-06-17',
  u'High': u'37.439999',
  u'Low': u'36.810001',
  u'Open': u'37.43',
  u'Symbol': u'YHOO',
  u'Volume': u'12579500'},
 {u'Adj_Close': u'37.389999',
  u'Close': u'37.389999',
  u'Date': u'2016-06-16',
  u'High': u'37.450001',
  u'Low': u'36.540001',
  u'Open': u'37.389999',
  u'Symbol': u'YHOO',
  u'Volume': u'10162200'},
 {u'Adj_Close': u'37.32',
  u'Close': u'37.32',
  u'Date': u'2016-06-15',
  u'High': u'37.599998',
  u'Low': u'37.099998',
  u'Open': u'37.43',
  u'Symbol': u'YHOO',
  u'Volume': u'10193300'},
 {u'Adj_Close': u'37.400002',
  u'Close': u'37.400002',
  u'Date': u'2016-06-14',
  u'High': u'37.439999',
  u'Low': u'36.630001',
  u'Open': u'36.630001',
  u'Symbol': u'YHOO',
  u'Volume': u'13014500'},
 {u'Adj_Close': u'36.470001',
  u'Close': u'36.470001',
  u'Date': u'2016-06-13',
  u'High': u'36.91',
  u'Low': u'36.419998',
  u'Open': u'36.700001',
  u'Symbol': u'YHOO',
  u'Volume': u'6509400'},
 {u'Adj_Close': u'36.830002',
  u'Close': u'36.830002',
  u'Date': u'2016-06-10',
  u'High': u'37.139999',
  u'Low': u'36.59',
  u'Open': u'36.970001',
  u'Symbol': u'YHOO',
  u'Volume': u'11176600'},
 {u'Adj_Close': u'37.349998',
  u'Close': u'37.349998',
  u'Date': u'2016-06-09',
  u'High': u'37.73',
  u'Low': u'36.709999',
  u'Open': u'36.82',
  u'Symbol': u'YHOO',
  u'Volume': u'14731200'},
 {u'Adj_Close': u'36.970001',
  u'Close': u'36.970001',
  u'Date': u'2016-06-08',
  u'High': u'37.299999',
  u'Low': u'36.84',
  u'Open': u'36.84',
  u'Symbol': u'YHOO',
  u'Volume': u'9179200'},
 {u'Adj_Close': u'36.73',
  u'Close': u'36.73',
  u'Date': u'2016-06-07',
  u'High': u'36.990002',
  u'Low': u'36.630001',
  u'Open': u'36.900002',
  u'Symbol': u'YHOO',
  u'Volume': u'14745100'},
 {u'Adj_Close': u'37.07',
  u'Close': u'37.07',
  u'Date': u'2016-06-06',
  u'High': u'37.200001',
  u'Low': u'36.52',
  u'Open': u'36.669998',
  u'Symbol': u'YHOO',
  u'Volume': u'8423500'},
 {u'Adj_Close': u'36.599998',
  u'Close': u'36.599998',
  u'Date': u'2016-06-03',
  u'High': u'37.110001',
  u'Low': u'36.50',
  u'Open': u'37.110001',
  u'Symbol': u'YHOO',
  u'Volume': u'12048300'},
 {u'Adj_Close': u'37.150002',
  u'Close': u'37.150002',
  u'Date': u'2016-06-02',
  u'High': u'37.220001',
  u'Low': u'36.580002',
  u'Open': u'36.66',
  u'Symbol': u'YHOO',
  u'Volume': u'12155200'},
 {u'Adj_Close': u'36.650002',
  u'Close': u'36.650002',
  u'Date': u'2016-06-01',
  u'High': u'37.740002',
  u'Low': u'36.560001',
  u'Open': u'37.25',
  u'Symbol': u'YHOO',
  u'Volume': u'22138100'}]

# ReIndex

In [2]:
from numpy.random import randn

In [5]:
ser1= Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
ser2=ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [7]:
ser3=ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)
ser3

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [23]:
ser4=Series( ['Mexico','USA','India'],index=[0,5,10] )
ser4

0     Mexico
5        USA
10     India
dtype: object

In [24]:
ranger=range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [18]:
ser4 = ser4.reindex(ranger,method = 'ffill')

ValueError: index must be monotonic increasing or decreasing

In [26]:
ser5= ser4.reindex(ranger,method='ffill')
ser5

0     Mexico
1     Mexico
2     Mexico
3     Mexico
4     Mexico
5        USA
6        USA
7        USA
8        USA
9        USA
10     India
11     India
12     India
13     India
14     India
dtype: object

In [29]:
dframe=DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -1.901687  1.054094  0.766982  0.125456  0.297276
B  0.583357 -1.137384  0.677450 -0.341121  0.467258
D -0.223877  0.636321  0.466425  1.344807  0.831248
E -0.315480  0.128408 -1.830911  1.477054  0.702103
F -1.611283  0.830130  0.762445  0.109396 -1.809028

In [31]:
dframe2=dframe.reindex(index=['A','B','D','C','E','F'] )
dframe2

       col1      col2      col3      col4      col5
A -1.901687  1.054094  0.766982  0.125456  0.297276
B  0.583357 -1.137384  0.677450 -0.341121  0.467258
D -0.223877  0.636321  0.466425  1.344807  0.831248
C       NaN       NaN       NaN       NaN       NaN
E -0.315480  0.128408 -1.830911  1.477054  0.702103
F -1.611283  0.830130  0.762445  0.109396 -1.809028

In [32]:
dframe3=dframe2.reindex(columns=['col1','col2','col3','col4','col5','col6'])
dframe3

       col1      col2      col3      col4      col5  col6
A -1.901687  1.054094  0.766982  0.125456  0.297276   NaN
B  0.583357 -1.137384  0.677450 -0.341121  0.467258   NaN
D -0.223877  0.636321  0.466425  1.344807  0.831248   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
E -0.315480  0.128408 -1.830911  1.477054  0.702103   NaN
F -1.611283  0.830130  0.762445  0.109396 -1.809028   NaN

In [38]:
dframe4=dframe.ix[['A','B','D','C','E','F'],['col1','col2','col3','col4','col5','col6']]

In [39]:
dframe4

       col1      col2      col3      col4      col5  col6
A -1.901687  1.054094  0.766982  0.125456  0.297276   NaN
B  0.583357 -1.137384  0.677450 -0.341121  0.467258   NaN
D -0.223877  0.636321  0.466425  1.344807  0.831248   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
E -0.315480  0.128408 -1.830911  1.477054  0.702103   NaN
F -1.611283  0.830130  0.762445  0.109396 -1.809028   NaN

# Index drop entry

In [40]:
ser1=Series(np.arange(3),index=['a','b','c'])
ser1

a    0
b    1
c    2
dtype: int32

In [41]:
ser1.drop('b')

a    0
c    2
dtype: int32

In [44]:
dframe1=DataFrame(np.arange(9).reshape((3,3)),index=['SF','LA','NY'],columns=['pop','size','year'])
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [46]:
dframe2=dframe1.drop('LA')
dframe2

    pop  size  year
SF    0     1     2
NY    6     7     8

In [47]:
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [48]:
dframe1.drop('year',axis=1)

    pop  size
SF    0     1
LA    3     4
NY    6     7

# Selecting Entry

In [49]:
ser1=Series(range(3), index=['A','B','C'])
ser1

A    0
B    1
C    2
dtype: int64

In [50]:
ser1=ser1 * 2
ser1

A    0
B    2
C    4
dtype: int64

In [51]:
ser1[0]

0

In [52]:
ser1[1:]

B    2
C    4
dtype: int64

In [53]:
ser1[['A','B']]

A    0
B    2
dtype: int64

In [55]:
ser1[ser1 > 2]

C    4
dtype: int64

In [56]:
ser1[ser1>2]=87

In [57]:
ser1

A     0
B     2
C    87
dtype: int64

In [59]:
dframe=DataFrame(np.arange(25).reshape((5,5)),index=['A','B','C','D','E'],columns=['LA','NY','SEA','SFO','BO'])
dframe

   LA  NY  SEA  SFO  BO
A   0   1    2    3   4
B   5   6    7    8   9
C  10  11   12   13  14
D  15  16   17   18  19
E  20  21   22   23  24

In [68]:
dframe['NY']

A     1
B     6
C    11
D    16
E    21
Name: NY, dtype: int32

In [73]:
dframe[['NY','SEA']]

   NY  SEA
A   1    2
B   6    7
C  11   12
D  16   17
E  21   22

In [77]:
dframe[dframe['NY'] > 12]

   LA  NY  SEA  SFO  BO
D  15  16   17   18  19
E  20  21   22   23  24

In [78]:
dframe > 10

      LA     NY    SEA    SFO     BO
A  False  False  False  False  False
B  False  False  False  False  False
C  False   True   True   True   True
D   True   True   True   True   True
E   True   True   True   True   True

In [79]:
dframe.ix['LA']

LA     15
NY     16
SEA    17
SFO    18
BO     19
Name: D, dtype: int32

In [81]:
dframe.ix[1]

LA     5
NY     6
SEA    7
SFO    8
BO     9
Name: B, dtype: int32

# Data Alignement

In [82]:
ser1 = Series(range(2), index=['A','B'])
ser1

A    0
B    1
dtype: int64

In [84]:
ser2 = Series (range(3),index=['A','B','C'])
ser2

A    0
B    1
C    2
dtype: int64

In [86]:
ser1 + ser2

A     0
B     2
C   NaN
dtype: float64

In [87]:
ser1 - ser2

A     0
B     0
C   NaN
dtype: float64

In [88]:
ser1 * ser2

A     0
B     1
C   NaN
dtype: float64

In [89]:
ser1/ser2

A   NaN
B     1
C   NaN
dtype: float64

In [91]:
dframe1=DataFrame(np.arange(4).reshape(2,2),index=['A','B'],columns=['col1','col2'])
dframe1

   col1  col2
A     0     1
B     2     3

In [97]:
dframe2=DataFrame(np.arange(9).reshape(3,3),index=['A','C','D'],columns=['col1','col2','col3'])
dframe2

   col1  col2  col3
A     0     1     2
C     3     4     5
D     6     7     8

In [98]:
dframe1+dframe2

   col1  col2  col3
A     0     2   NaN
B   NaN   NaN   NaN
C   NaN   NaN   NaN
D   NaN   NaN   NaN

In [99]:
dframe1.add(dframe2, fill_value=0)

   col1  col2  col3
A     0     2     2
B     2     3   NaN
C     3     4     5
D     6     7     8

In [95]:
dframe2

   col1  col2  col3
A     0     1     2
B     3     4     5
D     6     7     8

In [102]:
ser3=dframe2.ix[0]
ser3

col1    0
col2    1
col3    2
Name: A, dtype: int32

In [103]:
dframe2 - ser3

   col1  col2  col3
A     0     0     0
C     3     3     3
D     6     6     6

# Ranking and Sorting

In [111]:
ser1= Series(range(3),index=['C','A','B'])
ser1

C    0
A    1
B    2
dtype: int64

In [112]:
ser1.sort_index()

A    1
B    2
C    0
dtype: int64

In [122]:
ser1.sort_values()

C    0
A    1
B    2
dtype: int64

In [124]:
ser2=Series(randn(10))
ser2

0   -0.655910
1   -0.699165
2    0.377611
3    0.824581
4   -0.191149
5   -1.264014
6   -0.865185
7    0.150145
8    0.109783
9    0.981264
dtype: float64

In [125]:
ser2.rank()

0     4
1     3
2     8
3     9
4     5
5     1
6     2
7     7
8     6
9    10
dtype: float64

In [126]:
ser2.sort_index()

0   -0.655910
1   -0.699165
2    0.377611
3    0.824581
4   -0.191149
5   -1.264014
6   -0.865185
7    0.150145
8    0.109783
9    0.981264
dtype: float64

In [129]:
ser3=ser2.sort_values()

In [130]:
ser3.rank()

5     1
6     2
1     3
0     4
4     5
8     6
7     7
2     8
3     9
9    10
dtype: float64